.container {
	max-width: 1170px
	width: 100%
	margin: 0 auto;
	margin-bottom: 20px;
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	width: 150px;
	margin-left: 60px;
	margin-top: -10px;
}
.navigation-ul {
	margin-right: 80px;
	margin-bottom: 17px;
}
.navigation-li {
	padding-left: 100px;
	font-family: 'Playfair Display', serif;
}
.container2 {
	max-width: 1170px;
	width: 100%;
	position: relative;
}
.img {
	position: absolute;
	width: 1372px;
	height: 640px;
	left: 6%;
	top: 5%;
}
.text1 {
	font-family: 'roboto', bold;
	color: #b4ad9e;
	font-size: 12px;
	position: absolute;
	margin-top: 730px;
	left: 12%;
}
.text2 {
	color: #626262;
	font-family: 'Playfair Display', serif;
	font-size: 26px;
	position: absolute;
	margin-top: 780px;
	left: 11.8%;
}
.text3 {
	color: #626262;
	font-family: 'Playfair Display', serif;
	width: 105%;
	margin-top: 840px;
	position: absolute;
	font-size: 16px;
	left: 11.8%;
}
.text4 {
	color: #626262;
	font-family: 'Playfair Display', serif;
	padding-top: 25px;
	position: absolute;
	font-size: 16px;
	left: 11.8%;
	margin-top: 840px;
	width: 105%;
}
.text5 {
	color: #626262;
	font-family: 'Playfair Display', serif;
	padding-top: 30px;
	position: absolute;
	font-size: 16px;
	left: 11.8%;
	margin-top: 860px;
	width: 105%;
}
.text6 {
	color: #626262;
	font-family: 'Playfair Display', serif;
	padding-top: 35px;
	position: absolute;
	font-size: 16px;
	left: 11.8%;
	margin-top: 880px;
	width: 105%;
}
.text7 {
	color: #626262;
	font-family: 'Playfair Display', serif;
	padding-top: 40px;
	position: absolute;
	font-size: 16px;
	left: 11.8%;
	margin-top: 900px;
	width: 105%;
}
.text8 {
	color: #626262;
	font-family: 'Playfair Display', serif;
	padding-top: 45px;
	position: absolute;
	font-size: 16px;
	left: 11.8%;
	margin-top: 920px;
	width: 105%;
}
.text9 {
	color: #626262;
	padding-top: 50px;
	font-family: 'Playfair Display', serif;
	position: absolute;
	font-size: 16px;
	left: 11.8%;
	margin-top: 940px;
	width: 105%;
}
.text10 {
	padding-top: 65px;
	color: #b4ad9e;
	font-family: 'roboto', bold;
	position: absolute;
	font-size: 12px;
	left: 11.8%;
	margin-top: 980px;
	padding-bottom: 140px;
}
.container3 {
	position: relative;

}
.image {
	position: absolute;
	top: 1200px;
	width: 550px;
	left: 9.4%;
}
.image2 {
	position: absolute;
	top: 1200px;
	width: 550px;
	left: 51%;
	padding-bottom: 40px;
}
.p1 {
	font-size: 12px;
	font-family: 'roboto', bold;
	position: absolute;
	top: 1550px;
	left: 9.4%;
	color: #b4ad9e;
}
.p2 {
	font-size: 12px;
	font-family: 'roboto', bold;
	position: absolute;
	top: 1550px;
	left: 51%;
	color: #b4ad9e;
}
.p3 {
	font-size: 26px;
	position: absolute;
	top: 1580px;
	left: 9.4%;
	color: #626262;
	padding-bottom: 30px;
	padding-top: 20px;
}
.p4 {
	font-size: 26px;
	position: absolute;
	top: 1590px;
	left: 51%;
	color: #626262;
	padding-bottom: 45px;
}
.p5 {
	position: absolute;
	font-size: 16px;
	top: 1660px;
	left: 9.4%;
	color: #626262;
	width: 550px;
}
.p6 {
	position: absolute;
	font-size: 16px;
	top: 1660px;
	left: 51%;
	color: #626262;
	width: 550px;
	padding-bottom: 100px;
}
.image3 {
	position: absolute;
	top: 1850px;
	left: 9.4%;
	width: 550px;
	padding-bottom: 50px;
}
.image4 {
	position: absolute;
	top: 1850px;
	left: 51%;
	width: 550px;
	height: 342px;
}
.p7 {
	font-size: 12px;
	font-family: 'roboto', bold;
	position: absolute;
	top: 2220px;
	left: 9.4%;
	color: #b4ad9e;
}
.p8 {
	font-size: 12px;
	font-family: 'roboto', bold;
	position: absolute;
	top: 2220px;
	left: 51%;
	color: #b4ad9e;
}
.p9 {
	font-size: 26px;
	font-family: 'Playfair Display', serif;
	position: absolute;
	top: 2250px;
	left: 9.4%;
	color: #626262;
}
.p10 {
	font-size: 26px;
	font-family: 'Playfair Display', serif;
	position: absolute;
	top: 2250px;
	left: 51%;
	color: #626262;
}
.p11 {
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	top: 2300px;
	left: 9.4%;
	color: #626262;
	width: 550px;
	padding-bottom: 100px;
}
.p12 {
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	top: 2300px;
	left: 51%;
	color: #626262;
	width: 550px;
}
.container4 {
	position: relative;
	background-color: #f0f0f0;
	height: 350px;
	margin-top: 2500px;
}
.p13{
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-size: 26px;
	color: black;
	left: 39%;
	top: 20%;
}
.plane {
	position: absolute;
	width: 30px;
	left: 59.2%;
	top: 58%;
}
.divider {
	background-color: black;
	width: 350px;
	height: 0.5px;
	position: absolute;
	top: 70%;
	left: 38%;
}
.divider p {
	font-family: 'Playfair Display', serif;
	position: absolute;
	margin-top: -38px;
	font-size: 16px;
	left: 0%;
}
.image5 {
	position: absolute;
	top: 460px;
	left: 9.4%;
	width: 550px;
	height: 342px;
	margin-bottom: 150px;
}
.image6 {
	position: absolute;
	top: 460px;
	left: 51%;
	width: 550px;
	height: 342px;
}
.p14 {
	font-size: 12px;
	margin-top: 830px;
	font-family: 'Playfair Display', serif;
	position: absolute;
	margin-left: 143px;
	color: #b4ad9e;
}
.p15 {
	margin-top: 830px;
	font-size: 12px;
	font-family: 'Playfair Display', serif;
	position: absolute;
	margin-left: 775px;
	color: #b4ad9e;
}
.p16 {
	font-size: 26px;
	font-family: 'Playfair Display', serif;
	position: absolute;
	top: 870px;
	left: 9.4%;
	color: #626262;
}
.p17 {
	font-size: 26px;
	font-family: 'Playfair Display', serif;
	position: absolute;
	top: 870px;
	left: 51%;
	color: #626262;
}
.p18 {
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-size: 12px;
	top: 930px;
	left: 9.4%;
	color: #626262;
	width: 550px;
}
.p19 {
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-size: 12px;
	top: 930px;
	left: 51%;
	color: #626262;
	width: 550px;
}
.container5 {
	position: relative;
}
#loadMore {
	margin-top: 730px;
	margin-left: -20px;
	position: absolute;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    margin-bottom: 70px;
}
#loadMore a {
    background: #006666;
    border-radius: 3px;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
}
#loadMore a:hover {
    background-color: #042a63;
}
footer {
	background-color: #f0f0f0;
	margin-top: 900px;
	position: relative;
	width: 100%;
	height: 50px;
}
footer p{
	font-family: 'Playfair Display', serif;
	margin-top: 17px;
	left: 9.4%;
	position: absolute;
	font-size: 14px;
	color: #3d3d3d;
}
footer h3{
	font-family: 'Playfair Display', serif;
	left: 85%;
	position: absolute;
	margin-top: 17px;
	font-size: 14px;
	color: #3d3d3d;
}
.fa-facebook-f {
	color: #3D58A6;
	position: absolute;
	font-size: 25px;
	margin-top: 10px;
	left: 90%;
}
.fa-twitter {
	color: #3498DB;
	position: absolute;
	font-size: 25px;
	margin-top: 10px;
	left: 92%;
}
.fa-instagram {
	color: #922B21;
	position: absolute;
	font-size: 25px;
	margin-top: 10px;
	left: 94.5%;
}